src/main/mule/firstsuccesful-alekhya.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2cc15835-8ca5-466e-b5a0-354dada1c81c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="40f825e4-df5e-48aa-9763-818130b3403c" >
		<http:request-connection host="assessment2-papi-alekhya.us-e2.cloudhub.io" />
	</http:request-config>
	<flow name="firstsuccesful-alekhyaFlow" doc:id="e85a9d9c-f95c-4a05-bb30-d98e7dc748a7" >
		<http:listener doc:name="Listener" doc:id="35c7896d-4ef2-4de8-80db-04e1717c3f75" config-ref="HTTP_Listener_config" path="/firstsuccessful"/>
		<logger level="INFO" doc:name="Logger-1" doc:id="ecda4d6b-5284-4983-8658-b6929ec62534" message="logger-1"/>
		<ee:transform doc:name="Transform Message" doc:id="4e7ba247-465e-49ea-8665-03248f85f171" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"name": "hi alekhya"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<first-successful doc:name="First Successful" doc:id="3e3af4e4-7577-4d75-8dc4-ac304592c705" >
			<route >
				<raise-error doc:name="Raise error" doc:id="9150f09b-6e16-4454-9517-c326db0e4335" type="ANY"/>
				<logger level="INFO" doc:name="Logger-2" doc:id="e19cddf6-1b96-455d-90c7-f1d379fe5d81" message="logger-2"/>
			</route>
			<route >
				<logger level="INFO" doc:name="Logger-3" doc:id="8e6b3dba-312b-4703-9f89-10e374a7dc3b" message="logger-3"/>
			</route>
		</first-successful>
	</flow>
	<flow name="firstsuccesful-alekhyaFlow1" doc:id="dacc58ab-e4e1-471d-834d-de9f38c231bd" >
		<http:listener doc:name="Listener" doc:id="bf695426-5f66-43ac-a792-3ccec3328723" config-ref="HTTP_Listener_config" path="/untillsuccessful"/>
		<ee:transform doc:name="Transform Message" doc:id="76b2b407-eeee-481f-94e4-6d855aeec43d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<until-successful maxRetries="3" doc:name="Until Successful" doc:id="e0150c26-e9b4-41ae-8172-c38219ea0829" >
			<http:request method="POST" doc:name="Request" doc:id="4dc5e53d-f22e-4853-8b00-48f2737d30eb" config-ref="HTTP_Request_configuration" path="/getamount" />
		</until-successful>
		<logger level="INFO" doc:name="Logger" doc:id="70e53d21-479d-4a0c-90c6-041654ad24f0" message="#[payload]"/>
	</flow>
</mule>
